{{> navs/index}}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-12">
            <h1>{{this.title}}</h1>
            <h3>{{this.subtitle}}</h3>
        </div>
    </div>
</div>

<div id="articles">
    {{#each articles}}
        <div class="well">
            <div class="row">
                <div class="col col-md-8">
                    <h4><a href="{{this.link}}">{{this.title}}</a></h4>
                </div>
                <div class="col col-md-2">
                    <a class="btn btn-success" href="/api/save/{{this.id}}">Save Article</a>
                </div>
                <div class="col col-md-2">
                    <a class="btn btn-warning" href="/api/dismiss/{{this.id}}">Dismiss Article</a>
                </div>
            </div>
        </div>
    {{/each}}
</div>
